<!DOCTYPE html>
<!--suppress ALL -->
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лобби | Своя Игра</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.min.js"></script>
    <script src="/static/js/waitingroom.js"></script>
</head>
<body>
<div id="app">
    <header>
        <div class="logo">СВОЯ ИГРА ONLINE</div>
        <div class="header-right">
            <div class="players-count">[[ currentPlayers ]]/[[ maxPlayers ]] игроков</div>
            <button
                    class="btn delete-btn"
                    @click="cancelGame"
                    v-if="isHost"
            >Отменить игру</button>

            <button
                    class="btn delete-btn"
                    @click="leaveGame"
                    v-if="!isHost"
            >Покинуть игру</button>
        </div>
    </header>

    <main>
        <h1>[[ roomName ]]</h1>
        <h1>[[ inviteCode ]]</h1>

        <div class="packs-grid">
            <div class="pack-card" v-for="player in players" :key="player.id">
                <span>[[ player.name ]]</span>
                <div class="pack-actions">
                    <button
                            class="delete-btn"
                            @click="removePlayer(player.id)"
                            v-if="isHost"
                    >×</button>
                </div>
            </div>
        </div>

        <div class="header-buttons">
            <button
                    class="btn register-btn"
                    @click="startGame"
                    :disabled="!canStart"
                    v-if="isHost"
            >
                [[ isLoading ? 'Загрузка...' : 'Начать игру' ]]
            </button>
        </div>

        <div v-if="errorMessage" class="error-message">
            [[ errorMessage ]]
        </div>
    </main>
</div>
</body>
</html>